* {
    font-family: "Roboto";
}

.site-banner {
    background-color: cornflowerblue;
    height: 400px;
    margin-bottom: 100px;
}

.nav-link  {
    
    color: rgb(1, 129, 129) !important;
    font-family: "Roboto";

    }

    

    .nav-item{
        margin-left: 20px;
    }



    .nav-link:hover {
        color: white !important;
        
        -webkit-transition: color 0.5s ease-out;
        -moz-transition: color 0.5s ease-out;
        -o-transition: color 0.5s ease-out;
        -ms-transition: color 0.5s ease-out;
        transition: color 1s ease-out;
    }

    

    
.main-content {
        padding-top: 20rem;
        padding-bottom: 20rem;
        background: linear-gradient(209deg, #2bf3c0, #6ddbe1);
        
    
        -webkit-animation: content-animation 1s ease infinite;
        -moz-animation: content-animation 1s ease infinite;
        animation: content-animation 1s ease infinite;
    }
    
    @-webkit-keyframes content-animation {
        0%{background-position:75% 0%}
        50%{background-position:26% 100%}
        100%{background-position:75% 0%}
    }
    @-moz-keyframes content-animation {
        0%{background-position:75% 0%}
        50%{background-position:26% 100%}
        100%{background-position:75% 0%}
    }
    @keyframes content-animation {
        0%{background-position:75% 0%}
        50%{background-position:26% 100%}
        100%{background-position:75% 0%}
    
        
}

.main-text {
    color: rgb(0, 0, 0);
}




.site-about {
    margin-bottom: 250px;
}

.para {
    font-family: "lato";    
}

.services {
    margin-bottom: 250px;
}

.service-area {
    padding-bottom: 150px;
}

.section-text {
    margin-bottom: 150px;
}

.card-text {
    font-family: "lato";
}

.project-area {
    margin-bottom: 250px;
}

.button-group {
    text-align: center;
}

.project-title {
    text-align: center;
}

.bot-info {
    font-family: "Lato";
}

.project-area .button-group button {
   
   border: none;
   font: normal 500 16px/130px;
   text-transform: uppercase;
}
.project-area .button-group button + button {
    padding-bottom: 3px;
}

.project-area .grid .our-project > title h4{
    font: normal 700 25px/12px;
}



.contact {
    padding-bottom: 120px;
   }



.contact h2 {
    text-align: center;
}



.contact p {
    font-family: "lato";
    text-align: center;
}




.footer-area {
    padding-bottom: 1px;
}
